<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>403 Forbidden Error </title>
        <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
        <link rel="preload" href="css/style.css" as="style"/>
        <link href="css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h1 class="max_h1"> 403 </h1>
                                    <p class="lead">Access Denied/Forbidden Error.</p>
                                    <a href="index.html">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        Return to Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutError_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy;  Examination Control System (NEP) . <span id="currentYear"></span> .</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                Design and Developed by <a href="#">CRISP</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- back to top start -->
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
		<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="js/jquery-migrate-3.3.2.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script> 
		<script type="text/javascript" src="js/SmoothScroll.min.js"></script>
        <script type="text/javascript" src="js/backToTop.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>
